dgl==1.1.0+cu116
gdist==2.1.0
matplotlib==3.5.1
natsort==8.3.1
networkx==2.8.2
numpy==1.23.2
online_triplet_loss==0.0.6
open3d==0.15.1
pandas==1.4.1
pygeodesic==0.1.8
scikit_learn==1.3.0
scipy==1.8.1
seaborn==0.11.2
torch==1.13.1+cu116
torch_geometric==2.0.4
tqdm==4.64.0
trimesh==3.12.4
tvb_gdist==2.1.0
